body {
    margin: 10pt 2%;
    background-color:#e6e6f0;
}

.content {
    background-color:#ffffff;
    height: 350px;
    padding: 4pt;
}

.homeAnchor {
    text-decoration: none;
    float:right;
}

.treeSelected {
    color: #ff6600;
    font-family: "new century schoolbook", serif ; 
    font-weight: bold;
    text-decoration: none;
}

.treeDisabled {
    color: #999999;
    font-family: "new century schoolbook", serif ; 
    text-decoration: none;
}

.treeUnselected {
    color: #993300;
    font-family: "new century schoolbook", serif ; 
    text-decoration: none;
}

.treeStyle {
    border: solid 1pt #ff6600;
    font-family: "new century schoolbook", serif ; 
    font-size: 10pt;
    color: #ff6600;
    height: 175pt;
    width: 200pt;
}

