a.outer { font-family:Verdana; font-size:8pt; }
a.outer:hover { color:660066 }
a:hover { color:996699 }
a.link { font-family:Verdana; font-size:8pt; padding-left:25; padding-top:25}

h1.title { font-family:Verdana; font-size:16pt; color:660066; }

table.header {background-color:99CC99; }
table.site {background-color:99CC99; }

td.toc { font-family:Verdana; font-size:8pt; background-color:99CC99; }
td.demo { font-family:Verdana; font-size:8pt; }

div.toc {
        margin-top: 20px;
        width: 140;
        margin-left: 10px;
        font-family: Verdana, Arial, Helvetica; 
        background-color:99CC99;        
}

div.indent {
        font-family:Verdana;
        font-size:8pt;
        padding-left:10;
        padding-top:10
}

div.body {
        margin-top:20px;
        margin-left:15px;
        margin-right:15px;
        font-size:10pt;
        font-family: Verdana, Tahoma, Arial, Helvetica; 
        background-color:FFFFFF;
}

table.test {
        margin:0,0,0,0;
        padding:0,0,0,0;
        border-color=660066;
        border:thick;
        background-color:white;
}



span.subhead   { font-size:12pt }

hr { text-align:left; }