.myDisabledClass {
    color: #6600FF ;
    background-color: #CCFFFF ;
    font-family: "Arial" ; 
    font-weight: bold;
}

.myTreeClass {
    color: #FFCC99;
    font-family: "Courier"; 
    font-weight: bold;
}
