<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

<!-- 
  <appender name="NETUISYSLOGFILE" class="org.apache.log4j.RollingFileAppender">
    <param name="File" value="c:/tmp/netui.log"/>
-->
  <appender name="NETUISYSLOGFILE" class="org.apache.log4j.ConsoleAppender">
    <param name="Append" value="true"/>
    <param name="MaxFileSize" value="500000KB"/>
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="%d{DATE} %-5p %-15c{1} [%x]: %m%n"/>
    </layout>
  </appender>

  <!-- base for all netui server components -->
  <category name="org.apache.beehive.netui">
    <priority value="error"/>
    <appender-ref ref="NETUISYSLOGFILE"/>
  </category>

  <!-- base for all netui server components -->
  <category name="org.apache.struts">
    <priority value="error"/>
    <appender-ref ref="NETUISYSLOGFILE"/>
  </category>

  <category name="org.apache.beehive.netui.script">
    <priority value="error"/>
    <appender-ref ref="NETUISYSLOGFILE"/>
  </category>

</log4j:configuration>
