<html>
  <body>
    <p>
    This package defines a set of JSP tag extensions providing a simple
    templating mechanism.  A template page is a JSP page defining the overall
    look and feel of a set of pages.  It does this by providing an overall
    layout structure, style and design of
    the page and defines placeholders for content.  These placeholders
    are called sections.  A content page is a JSP page containing the
    content.  The content page provides the sections of content plugged
    into the template.  Combining the content page and the template page
    creates the overall look and feel of the content.   The big advantage
    of templates is the ability to change the look and feel of a set of pages
    without being forced to modify each page. 
    </p>
    <p>
    The NetUI Template tags define two sets of tag extensions.
    The first set is used by within a JSP template page to define placeholder
    where content page provides content.  The second set of tags is
    used within a content page to indicate the template to use and to
    define the content that will be presented within the template.  
    </p>
    <p>
    The tags used by a template page are:
    <ul>
    <li><b>IncludeSection</b> -- This tag defines a placeholder for
	content.
    <li><b>Attribute</b> -- This tag defines an attribute that may
	be set within the content page.
    </ul>
    </p>
    <p>
    The tags used by a content page are:
    <ul>
    <li><b>Section</b> -- This tag contains the content included
	within a section defined in the template.
    <li><b>SetAttribute</b> -- This tag defines the value of an
	attribute used by a template.
    <li><b>Template</b> -- This tag specifies which template page
	is being used for the content.
    </ul>
    </p>
    <p>
    One additional tag is included in the package.  The <b>Visible</b>
    tag defines
    a section that may be visible or not depending upon a boolean value.
    The tag may be used either within content or within a template.
    </p>
  </body>
</html>