#leftcolumn {
    float: left;
    width: 25%;
    background: #fff;
    border-right: 2px solid #000;
    border-bottom: 2px solid #000;
    border-left: 2px solid #000;
    border-top: 2px solid #000;
    margin-top: 0px;
    margin-right: 15px;
    padding-bottom: 20px;
}
#rightcolumn {
    margin-top: 10px;
}
body {
    font-family: Arial, Helvetica;
    font-size: 12px;
    color:black;
    margin:50px 50px 50px 50px;
}
td {
    font-family: Arial, Helvetica;
    font-size: 12px;
    color:black;
}
th {
    font-family: Arial, Helvetica;
    font-size: 12px;
    color:black;
    background-color: #fafafa;
}
table.customers {
    background-color: #bbbbbb;
    width: 60%;
}
td.customers {
    white-space: nowrap;
    padding: 3px;
}
th.customers {
    padding: 3px;
}
tr.customers-header {
}
tr.customers-even {
    background-color: #ffffff;
}
tr.customers-odd {
    background-color: #fffff0;
}
th.headerCellOver {
    background-color: #bbbbbb;
    font-family: Arial, Helvetica;
    font-size: 12px;
    padding: 3px;
}
th.headerCellOut {
    font-family: Arial, Helvetica;
    font-size: 12px;
    padding: 3px;
}
th.headerCellOut a {
    text-decoration: none;
}
th.headerCellOver a {
    text-decoration: none;
}
table.customers-caption {
    width: 100%;
}
caption.customers {
    font-family: Arial, Helvetica;
    font-size: 12px;
    color:black;
}
span.title{
    font-size: 17px;
    font-weight: bold;
    font-family: Arial, sans-serif;
    margin: 0 0 0 0;
    color: #990000;
}
table.title {
    width: 100%;
    border-collapse: collapse;
}
