##
## The Velocity code generation template for the JAR manifest file (META-INF/MANIFEST.MF)
## entries associated with a control bean and its public interface or extension class.
##
## Licensed to the Apache Software Foundation (ASF) under one or more
## contributor license agreements.  See the NOTICE file distributed with
## this work for additional information regarding copyright ownership.
## The ASF licenses this file to You under the Apache License, Version 2.0
## (the "License"); you may not use this file except in compliance with
## the License.  You may obtain a copy of the License at
## 
##     http://www.apache.org/licenses/LICENSE-2.0
## 
## Unless required by applicable law or agreed to in writing, software
## distributed under the License is distributed on an "AS IS" BASIS,
## WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
## See the License for the specific language governing permissions and
## limitations under the License.
##
## $Header:$
##
## The following context variables are used by this template:
##      $bean - a ControlBean instance that defines the attributes of the bean
##      $intf - a ControlInterface instance that defines the attributes of the public interface
##
##
## THE CONTROL BEAN MANIFEST.MF TEMPLATE
##
## This template defines the JAR manifest contents that will be injected into any JAR file
## containing Beehive controls.  The template is used to generate per-control manifest files,
## which are then merged by the org.apache.beehive.controls.runtime.packaging.ControlJarTask
## ant task into a single JAR manifest file.
##
Manifest-Version: 1.0

Name: $bean.manifestName
Java-Bean: true
Beehive-Control: true
#set ($attrs = $intf.manifestAttributes)
#foreach ($name in $attrs.keySet())
${name}: ${attrs.get($name)}
#end
