 body {
 	font: 10pt/16pt Comic Sans MS;
 	color: #555753;
 	margin: 5px 10px 5px 5px;
}

/** Define the look of links **/
a:link {
	text-decoration: none;
	color: #e18700;
	}

a:visited {
	text-decoration: none;
	color: #ffad30;
	}

a:hover, a:active {
	text-decoration: underline;
	color: #9685BA;
}

.altRow {
    background-color: #eeeeff;
}

/** Define the title which is positioned at the top **/
.title {
    position: absolute;
    left: 80px;
    top: 20px;
    font-family: "Comic Sans MS", Arial, Helvetica, sans-serif;
    font-size: 20pt;
    font-weight: bold;
    margin:0px;
    padding:0px;
    color: white;
    z-index: 3;
}

.subTitle {
    position: absolute;
    left: 100px;
    top: 55px;
    font-family: "Comic Sans MS", Arial, Helvetica, sans-serif;
    font-size: 16pt;
    font-weight: bold;
    margin:0px;
    padding:0px;
    color: white;
    z-index: 3;
}

/** This defines the left nav bar **/

#content {
    margin: 0px 10px 0px 120px
}

#navlist {
   position: absolute;
   left: 5px;
   top: 100px;
   width: 90px;
}

#navlist ul {
   margin: 0;                   /* remove indent IE and Opera */
   padding: 0;                  /* remove indent Mozilla and NN7 */
   list-style-type: none;       /* turns off display of bullet */
   font-family: "Comic Sans MS", Arial, Helvetica, sans-serif;
   font-size: 14px;
   font-weight: bold;
}

#navlist li {
   margin: 0 0 3px 0;
}

#navlist a {
   display: block;
   padding: 1px 2px 0px 20px;
   border: 1px solid #333;
   width: 84px;
   background-color: #999;
   background-image: url(linkDown.gif);
   text-decoration: none;
}

#navlist a:link, #navlist a:visited {
	color: #FFFFFF;
}

#navlist a:hover {
	border: 1px solid #333;
	background-color: #FF6600;
	background-image:  url(linkOver.gif);
	color: #333;
}

a.uberlink, a.uberlink:link, a.uberlink :visited, a.uberlink :hover {
	border: 1px solid #333 !important;
	background-color: #FF6600 !important;
	background-image:  url(linkOver.gif) !important;
	color: #333 !important;
}



/** This is the test recorder which we are going to put into the panel on the left side **/

#netuiTestRecorder
{
    position: absolute;
    left:5px;
    top: 468px;
    width: 103px;
    background-color:#c0c0c0 !important;
    padding: 2pt 0pt 2pt 2pt !important;
    color: #e18700 !important;
}

#netuiTestRecorder span {
    color: inherit !important;
    font-size: 10pt;
}

#netuiTestRecorder a {
    color: blue !important;
    font-weight: normal !important;
}

#netuiTestRecorder a span {
    color: inherit !important;
    font-weight: normal !important;
}

#netuiTestRecorder hr {
    display: none
}

#netuiTestRecorder a:visited, #netuiTestRecorder a:link {
	text-decoration: none;
	color: #e18700  !important;
}

#netuiTestRecorder a:hover, #netuiTestRecorder a:active {
	text-decoration: underline;
	color: #9685BA !important;
}

